.main{
    text-align: center;
}
img{
    width:400px;
}
body{
    background-color: snow;
}
#quates{
    text-align: center;
}

@media screen and (max-width:480px)
{
    body{
        overflow-x: hidden !important;
    
}
}